/* Default Settings/Extrasmall Devices*/

/*Set all text in the navigation bar to uppercase lettering*/
nav {
    text-transform: uppercase;
}

/*Center the links located in the nav bar*/
#nav-links li {
    text-align: center;
    }
    
/*
Give the intro section a height of 25% of the screen
Give it 50px of padding on the top
100px bottom padding
Center any text in the intro section
Set the intro section's background to white
*/    
.intro-section {
    height: 25%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: #fff;
}

/* 
Give a top padding of 25px
Center-align text
Set background to light gray
*/
.about-section {
    padding-top: 25px;
    text-align: center;
    background: #eee;
}

/* 
Set picture width to 80% of the screen width
Center picture
Give a 5px black border
*/
#profile-picture {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
}

/*
Set width to 80% of the screen
Center description
Font size of 1em
Sans-serif font
10px padding above and below the text
*/
#personal-description {
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
    font-family: sans-serif;
    padding: 10px 0;
}

/* 
Top and bottom padding of 25px
Center text in skills section
Make the background dark gray
*/
.skills-section {
    padding: 25px 0;
    text-align: center;
    background: #54504F;
}

/*
Add flex display for skill boxes within the #skills container
Use flex column for skill boxes
*/
#skills2 {
    display: flex;
    flex-direction: column
}
/*
Set width of skill boxes to 80% of screen size
3px border around skill boxes
Margin of 10px above and below each box and centers them
Set background color to light blue
*/
.skill-box {
    width: 80%;
    border: 3px solid black;
    margin: 10px auto;
    background: #BFD7D3;
}

/* 
Set width of header to 100% of the skills box container
Center header
Font-size of 1.5em
Sans-serif font
*/
.skill-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
}

/* 
Set width of each language to 35% of the skill box
10px margin above and below each language
Set left margin to 10% of skill box
Float skills to the left
*/
.skill {
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    float: left;
}

/* 
Add 25px of padding to the top of the projects section
Center all text
Set the background to light gray
*/
.projects-section {
    padding-top: 25px;
    text-align: center;
    background: #FFFDEC;
}

/*
Align text to left
Set margin to 5% of project container for each project header
*/
.proj-header {
    text-align: left;
    margin-left: 5%;
}

/*
Set project img-desc box to 90% width
Center the img-desc box and add 10px margins above and below
Position relative
Put the img-desc box on its' own line
*/
.proj-img-desc {
    width: 90%;
    margin: 10px auto;
    position: relative;
    clear: left;
}

/*
Width set to 100% of the img-desc box
Block display for project image
*/
.proj-img {
    width: 100%;
    display: block;
}

/*
Set position to absolute
Set overlay position to properly cover the image
Set width and height to 100% of the container
Set overlay to black with .5 opacity
Align text to the left
Padding of 20px for the text
Font size of 1.3em
Arial font
White text
Default the overlay to have no appearance
Allow scrolling
Hide the horizontal scrollbar
*/
.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    padding: 20px;
    font-size: 1.3em;
    font-family: Arial;
    color: white;
    display: none;
    overflow: hidden;
    overflow-y: scroll;
}

/*
Display overlay when hovering the project
*/
.proj-img-desc:hover .project-overlay {
    display: block;
}

/*
Display overlay when hovering the overlay
*/
.project-overlay:hover .project-overlay {
    display: block;
}

/*
Width set to 90% of the project container
60px height
10px top and bottom margins
Centered
*/
.skills-used {
    width: 90%;
    height: 60px;
    margin: 10px auto;
}

/*
5px left and right padding
5px right, bottom, and left margins
Float to the left
Light blue background
1px black border
Rounded by 7.5px
Atleast 25px tall
*/
.utilize-skill {
    padding: 0 5px;
    margin: 0 5px 5px 5px;
    float: left;
    background: #99EDFF;
    border: 1px solid black;
    border-radius: 7.5px;
    min-height: 25px;
}

/*
Dark blue background
*/
.utilize-header {
    background: #3B54FF;
}

/*
Center text
Set background to dark gray
*/
.contact-section {
    text-align: center;
    background: #D6D6C9;
}

/*
5px top and bottom margin
Centered
No border
*/
.contact-section h2 {
    margin: 5px auto;
    border: 0;
}

/*
Font size of 20px
5px top and bottom margin
Centered
No border
*/
.contact-section h3 {
    font-size: 20px;
    border: 0;
    margin: 5px auto;
}

/*
15% of screen margin on the right
White background
Gray text
*/
#emailButton {
    margin-right: 15%;
    background: #eee;
    color: gray;
}

/* - Hover effects
Gray background
White text
*/
#emailButton:hover {
    background: gray;
    color: white;
}

/*
White background
Gray text
*/
#resumeButton {
    background: #eee;
    color: gray;
}

/* - Hover effects
Gray background
White text
*/
#resumeButton:hover {
    background: gray;
    color: white;
}


/* Social Media Slider using Slick Library */

/*
Gray icons
Width to 60% of screen
20px top/bottom margin, centered
Center icons
Height of 10px
High z-index to send it in front of all elements
*/
.socialMedia {
  color: gray;
  width:  60%;
  margin: 20px auto;
  text-align: center;
  height: 10px;
  z-index: 999999;
}

/*
Set font size of icons to 1.5em
Block display
Icons centered
Width of icons to 40% of their blocks
Gray icons
*/
.socialMedia i {
  font-size: 1.5em;
  display: block;
  margin: auto;
  width: 40%;
  color: gray;
}

/*
Icons white when hovered
*/
.socialMedia i:hover {
    color: white;
}

/*Position left arrow outside of slider and in front of most elements*/
.slick-prev {
  padding-top: 5px;
  left: -25px;
  z-index: 99;
}

/*Position right arrow outside of slider and in front of most elements*/
.slick-next {
  padding-top: 5px;
  right: -25px;
  z-index: 99;
}

/* 
10px of bottom padding
Center text
Set background to very dark gray
White text
*/
.footer-section {
    padding-bottom: 10px;
    text-align: center;
    background: #212020;
    color: white;
}

/*Media query for screens over 768px wide*/
@media only screen and (min-width: 768px) {
    
    /*
    Float links to the right
    */
     #nav-links {
         float: right;
     }
     
     /*
    Top padding of 90px
    */
     .intro-section {
         padding-top: 90px;
     }
     
     /*
    top padding of 50px
    */
     .about-section {
         padding-top: 50px;
     }
     
     /*
    Float h1 to the left
    Remove margin
    */
     .about-section h1 {
         float: left;
         margin: 0;
     }
     
     /*
    Width of 20% of about section
    Float to the right
    5px top and bottom margin
    Gray 3px border
    */
     #profile-picture {
         width: 20%;
         float: right;
         margin: 5px 0;
         border-color: gray;
         border-width: 3px;
     }
     
     /*
    Put description on its' own line
    Float it to the left
    Align text to the left
    5px of left and right padding
    25px of top padding
    Font size of 1.5em
    */
     #personal-description {
         clear: left;
         float: left;
         text-align: left;
         padding-left: 5px;
         padding-right: 5px;
         padding-top: 25px;
         font-size: 1.5em;
     }
     
     /*
    30px top padding
    */
     .skills-section {
         padding-top: 30px;
     }
     
     /*
    Align skills h1 to the left
    Set it to 100% width of the section
    */
     .skills-section h1 {
         text-align: left;
         width: 100%;
     }
     
     /*
    Remove flexbox from skills
    */
     #skills2 {
         display: block;
     }
     
     /*
    Float skill boxes to the left
    Set width to 42.5% of section
    Remove other margins while setting the right margin to 5%
    */
     .skill-box {
         float: left;
         width: 42.5%;
         margin: 0 0 0 5%;
     }
     
     /*
    Align skill box headers to the left
    Bold text
    5px of padding on left
    */
     .skill-header {
         text-align: left;
         font-weight: bold;
         padding-left: 5px;
     }
     
     /*
    Skill width to 30% of skill box
    Left margin of skills set to 2.5% of skill box
    */
     .skill {
         width: 30%;
         margin-left: 2.5%;
     }
     
     /*
    Top padding set to 35px
    */
     .projects-section {
         padding-top: 35px;
     }
     
     /*
    Left-align projects-section h1
    */
     .projects-section h1 {
         text-align: left;
     }
     
     /*
    Set project container width to 42.5% of projects section
    Margin left of 5%
    Float to the left
    */
     .proj-container {
         width: 42.5%;
         margin-left: 5%;
         float: left;
     }
     
     /*
    Font size of 1em
    5px of padding
    */
     .project-overlay {
         font-size: 1em;
         padding: 5px;
     }
     
     /*
    2.5px of left, right, and bottom padding
    */
     .utilize-skill {
         margin: 0 2.5px 5px 2.5px;
     }
}