/* Default Settings/Extrasmall Devices*/

/*Set all text in the navigation bar to uppercase lettering*/
nav {
    text-transform: uppercase;
}

/*Center the links located in he nav bar*/
#nav-links li {
    text-align: center;
    }
    
/*
Give the intro section a height of 25% of the screen
Give it 50px of padding on the top
Center any text in the intro section
Set the intro section's background to white
*/    
.intro-section {
    height: 25%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: #fff;
}

/* 
Give a top padding of 25px
Center-align text
Set background to light gray
*/
.about-section {
    padding-top: 25px;
    text-align: center;
    background: #eee;
}

/* 
Set picture width to 80% of the screen width
Center picture
Give a 5px black border
*/
#profile-picture {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
}

/*
Set width to 80% of the screen
Center description
Font size of 1em
Sans-serif font
10px padding above and below the text
*/
#personal-description {
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
    font-family: sans-serif;
    padding: 10px 0;
}

/* 
Top and bottom padding of 25px
Center text in skills section
Make the background dark gray
*/
.skills-section {
    padding: 25px 0;
    text-align: center;
    background: #54504F;
}

/*
Add flex display for skill boxes within the #skills container
Use flex column for skill boxes
*/
#skills {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}
/*
ADD HOVER EFFECTS TO DISPLAY SKILL NAME
Set width of skill boxes to 80% of screen size
3px border around skill boxes
Margin of 10px above and below each box and centers them
Set background color to light blue
*/
.skill-box {
    width: 80%;
    border: 3px solid black;
    margin: 10px auto;
    background: #BFD7D3;
}

/* 
Set width of header to 100% of the skills box container
Center header
Font-size of 1.5em
Sans-serif font
*/
.skill-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
}

/* 
Set width of each language to 35% of the skill box
10px margin above and below each language
Set left margin to 10% of skill box
Float skills to the left
*/
.skill {
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    float: left;
}

/* 
Add 10px of padding to the top of the projects section
Center all text
Set the background to light gray
*/
.projects-section {
    padding-top: 25px;
    text-align: center;
    background: #FFFDEC;
}

/*
Set height to 275px
Center text
Set background to dark gray
*/
.contact-section {
    text-align: center;
    background: #54504F;
}

/* 
Add 10px of padding to the top of the contact blurb
*/
#contact-blurb {
    padding-top: 10px;
}

/* Social Media Slider using Slick Library */

/*
Gray icons
Width to 80% of screen
20px top/bottom margin, centered
Center icons
Height of 10px
High z-index to send it in front of all elements
*/
.socialMedia {
  color: gray;
  width:  80%;
  margin: 20px auto;
  text-align: center;
  height: 10px;
  z-index: 999999;
}

/*
Set font size of icons to 1.5em
Block display
Icons centered
Width of icons to 40% of their blocks
Gray icons
*/
.socialMedia i {
  font-size: 1.5em;
  display: block;
  margin: auto;
  width: 40%;
  color: gray;
}

/*Position left arrow outside of slider and in front of most elements*/
.slick-prev {
  padding-top: 5px;
  left: -25px;
  z-index: 99;
}

/*Position right arrow outside of slider and in front of most elements*/
.slick-next {
  padding-top: 5px;
  right: -25px;
  z-index: 99;
}

/* 
10px of bottom padding
Center text
Set background to very dark gray
White text
*/
.footer-section {
    padding-bottom: 10px;
    text-align: center;
    background: #212020;
    color: white;
}

#tst1 {
    background: #eee;
    color: gray;
    text-decoration: none;
}

#tst1:hover {
    background: gray;
    color: white;
    text-decoration: none;
}

/* Media Queries*/

/* Small Devices*/
@media only screen and (min-width: 768px)  and (max-width: 991px) {
    /*
    #nav-links li {
        left: 30vw;
    }
    
    .intro-section {
        height: 40%;
        padding-top: 100px;
    }
    
    .about-section {
        padding-top: 50px;
        background: #eee;
    }

    .skills-section {
        height: 80%;
        padding-top: 150px;
        text-align: center;
        background: #54504F;
    }
    
    .contact-section {
        height: 250px;
    }
    
    .footer-section {
        height: 7.5%;
    }
    */
    
}

/*Medium and Large Devices */
@media only screen and (min-width: 1200px) {
    /*
    #nav-links li {
        left: 30vw;
    }
    
    .intro-section {
        height: 40%;
        padding-top: 150px;
    }
    
    .about-section {
        
    }

    .skills-section {
        height: 80%;
        padding-top: 25px;
        text-align: center;
        background: #54504F;
    }
    
    .projects-section {
        padding-top: 25px;
        height: 600px;
    }
    
    .contact-section {
        height: 250px;
    }
    
    .footer-section {
        height: 5vw;
    }
    */
}